@import base.sass

=heading-level-2()
    :font-family= !font_stack_copperplate
    :color= !color_h2
    :font-size 1.4em
    :text-shadow= "1px 1px 1px" !color_h2_text_shadow
    strong
        :color= !color_body_text

html, body
    :height 100%
    :font= "1em/1.5" !font_family_serif
    :color= !color_body_text
    :line-height 1.5

a
    :text-decoration none

#header
    //:background= !color_bg_splash "no-repeat 50% 0"           
    #nav
        :background= "transparent" !image_bg_bottom_shadow "repeat-x 0 0"
        :background-color= !color_bg_nav
        //:background-color= !color_bg_nav_rgba
        :border-bottom= "2px solid" !color_border_bottom_nav
        :border-bottom= "2px solid" !color_border_bottom_nav_rgba
        
        #nav-content
            :min-height 35px
            +grid-container()
            :padding-top 10px
            ul.links
                :text-align right
                li
                    +display-inline-block()
                    :margin-left 1.6em
                    a
                        :display block
                        :color= !color_nav_links
                        :font-family= !font_stack_copperplate
                        :text-transform uppercase
                        :word-spacing 0.2em
                        :text-shadow 1px 1px 1px #222
                        &:hover
                            :color= !color_nav_links_hover

#splash-content
    :background= !image_bg_splash "repeat scroll 0 0"
    .panes
        .pane-content
            +grid-container()
            :min-height 350px
            span
                +grid(6,12)
                :margin-top 100px
                h2
                    :font-size  1.5em
                    :font-weight bold
                    :font-family= !font_family_sans_serif_medium
                    :text-align right
                p
                    :font-size 1em
                    :color= !color_aside_body_text
                    :font-family= !font_family_sans_serif
                    :line-height 1.5em
                    :margin-top 20px
                    :text-align right
                a
                    :margin-top 45px
                    :margin-left 15px
                    :text-align right
                    
            .aside
                +grid(6,12)
                :text-align right
                
    #feature-list ul
        +grid-container()
        :text-align center
        :margin-top 5px
        :min-height 52px
        li
            +grid(1,5)
            +display-inline-block()
            //:margin-right 0.6em
            //:margin-top 10px
            h2
                :font-size  1.2em
                :font-weight bold
                :font-family= !font_family_sans_serif_medium
                a
                    :color #fff
            &:hover
                :background= "transparent" !image_fl_active

#footer
    :background-color= !color_bg_footer
    :color= !color_fg_footer
    :border-top= "2px solid" !color_border_top_footer
    #footer-content
        :background= !color_bg_footer !image_bg_footer "no-repeat 0 0"
        :min-height 150px
        +grid-container()
        :padding-top 20px
        > h2
            :text-align center
            :font-family= !font_stack_copperplate
            :text-transform uppercase
            :letter-spacing 0.1em
            :word-spacing 0.2em
            :color= !color_fg_footer_heading
        p   
            :font-family= !font_family_sans_serif
            :font-size 0.8em
            :color= !color_fg_footer_heading
        a
            :color= !color_nav_links_hover
        a:hover
            :text-decoration underline                             
                
