{% extends "base.html" %}
{% block body_attributes %}id="page-landing"{% endblock %}

{% block tag_splash_content %}
    <div class="panes">
            <div class="pane-content">
                <span><h2>Eliminate guesswork. Hit <strong>bullseye</strong> now.</h2>
                <p>Whatever your financial goals may be, our thorough analysis of <strong>your financial portfolio</strong> will provide you with to-the-point answers to achieve them.</p>
                <a href="#todo" class="awesome-button large">Get Started &raquo;</a>
                <a href="#todo" class="awesome-button large">Free Tour &raquo;</a>
                </span>
                <div class="aside">
            <!--        <img id="money-bee" src="{{ MEDIA_URL }}image/logo/money_bee.png" />-->
                    <img id="money-bee" src="{{ MEDIA_URL }}image/bg/op-screenshot.png" />
            <!--        <img id="image-folder" src="{{ MEDIA_URL }}image/icon/folder.png" />-->
                </div>
            </div>
            <div class="pane-content">
            tab 2
            <span><h2>Eliminate guesswork. Hit <strong>bullseye</strong> now.</h2>
                <p>Whatever your financial goals may be, our thorough analysis of <strong>your financial portfolio</strong> will provide you with to-the-point answers to achieve them.</p>
                <a href="#todo" class="awesome-button large">Get Started &raquo;</a>
                <a href="#todo" class="awesome-button large">Free Tour &raquo;</a>
                </span>
            </div>
            <div class="pane-content">
            tab 3
            <span><h2>Eliminate guesswork. Hit <strong>bullseye</strong> now.</h2>
                <p>Whatever your financial goals may be, our thorough analysis of <strong>your financial portfolio</strong> will provide you with to-the-point answers to achieve them.</p>
                <a href="#todo" class="awesome-button large">Get Started &raquo;</a>
                <a href="#todo" class="awesome-button large">Free Tour &raquo;</a>
                </span>
            </div>
            <div class="pane-content">
            tab 4
            <span><h2>Eliminate guesswork. Hit <strong>bullseye</strong> now.</h2>
                <p>Whatever your financial goals may be, our thorough analysis of <strong>your financial portfolio</strong> will provide you with to-the-point answers to achieve them.</p>
                <a href="#todo" class="awesome-button large">Get Started &raquo;</a>
                <a href="#todo" class="awesome-button large">Free Tour &raquo;</a>
                </span>
            </div>
            <div class="pane-content">
            tab 5
            <span><h2>Eliminate guesswork. Hit <strong>bullseye</strong> now.</h2>
                <p>Whatever your financial goals may be, our thorough analysis of <strong>your financial portfolio</strong> will provide you with to-the-point answers to achieve them.</p>
                <a href="#todo" class="awesome-button large">Get Started &raquo;</a>
                <a href="#todo" class="awesome-button large">Free Tour &raquo;</a>
                </span>
            </div>
    </div>
    <div id="feature-list">
        <ul class="tabs">
            <li>
                <h2><a href="#"> Get Started </a></h2>
                <span>This Is Feature 1</span>
            </li>
            <li><h2><a href="#"> FAQ </a></h2>
                <span>This Is Feature 2</span>
            </li>
            <li>
                <h2><a href="#"> Blog</a></h2>
                <span>This Is Feature 3</span>
            </li>
            <li>
                <h2><a href="#"> Forums</a></h2>
                <span>This Is Feature 4</span>
            </li>
            <li>
                <h2><a href="#"> Feature 5</a></h2>
                <span>This Is Feature 5</span>
            </li>
        </ul>
    </div>
{% endblock %}

{% block tag_scripts %}
<script type="text/javascript">
  window.scripts.push("{{ TEXT_MEDIA_URL }}script/page/index{{ JS_MINIFIED }}.js");
</script>
{% endblock %}
