{% extends "base.html" %}

{% block body_attributes %}id="page-landing"{% endblock %}

{% block home_link %} {% endblock %}

{% block tag_splash_content %}
    <img id="money-bee" src="{{ MEDIA_URL }}image/logo/money_bee.png" />
    <h1>the <span>MON&euro;&yen; bees</span></h1>
{% endblock %}

{% block tag_trunk_content %}
<div class="article reversed">
	<div class="content">
	    <h2>Eliminate guesswork. Hit <strong>bullseye</strong> now.</h2>
	    <p>Whatever your financial goals may be, our thorough analysis of <strong>your financial portfolio</strong> will provide you with to-the-point answers to achieve them.</p>
	    <a href="#todo" class="awesome-button large">Get Started &raquo;</a>
	</div>
    <div class="aside">
        <img id="image-folder" src="{{ MEDIA_URL }}image/icon/folder.png" />
    </div>
 </div>

{% endblock %}

{% block tag_scripts %}
<script type="text/javascript">
  window.scripts.push("{{ TEXT_MEDIA_URL }}script/page/index{{ JS_MINIFIED }}.js");
</script>
{% endblock %}
